EXPO_PUBLIC_WEATHER_API_URL=https://api.openweathermap.org/data/2.5/weather
EXPO_PUBLIC_WEATHER_API_KEY=f8a622574d8d6549b334da93b297f6c7
EXPO_PUBLIC_LLM_API_URL=https://api.sambanova.ai/v1/chat/completions
EXPO_PUBLIC_LLM_API_KEY=b65bf930-1fb0-4ad1-84a8-2e0f6470d8dd
EXPO_PUBLIC_BACKEND_API_URL=https://api.agrisaarthi.com/v1


